*           text=auto


*.conf      text eol=lf linguist-detectable=true
*.yaml      text eol=lf linguist-detectable=true

*.lua       text eol=lf
*.js        text eol=lf
*.json      text eol=lf

Brewfile    text eol=lf linguist-detectable=false
dot-zshrc   text eol=lf linguist-language=sh
